* {
    margin: 0;
    border: 0;
    padding: 0;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #25056b;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#landscape-overlay {
    background-color: black;
}

/* ../images/landing/black.jpg  */
#overlay-background {
    opacity: 0;
}

.ieCookie {
    position: absolute;
    top: -1000px;
}

/* Fix position of popups during scroll */
#top-bar-container #overlay-container {
    position: fixed;
}

/* Special Text Colors */
.yellowTxt {
    color: #f59d2f;
}

.blueTxt {
    color: #05bfc8;
}

.greenTxt {
    color: #00b92a;
}

/* CTA style */
.cta {
    width: 20.25rem;
    height: 2.813rem;
    border-radius: 1.438rem;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.063rem;
    letter-spacing: 0.028rem;
    cursor: pointer;
}

.cta:hover {
    filter: brightness(120%);
}

/* Top Navigation Bar */
.top-nav {
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: center;
    width: 100%;
    min-width: 64rem;
    height: 4rem;
    margin: 0;
    background-color: #25056b;
}

.top-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 79.25rem;
}

.top-nav .h5c-logo {
    width: 10.125rem;
    height: 2.625rem;
    margin-left: 4.625rem;
    background-image: url("../images/sweeps-landing/h5c-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 4.625rem;
    width: 14.063rem;
}

.signup-btn,
.login-btn {
    color: white;
    height: 1.875rem;
    border-radius: 0.938rem;
    font-size: 0.75rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.33;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
}

.signup-btn {
    width: 7.188rem;
    background-color: #ff7b1b;
}

.login-btn {
    width: 5.625rem;
    background-color: #ac1eff;
}

/* Section 1 Hero Header */
.section1 {
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-width: 64rem;
    height: 38rem;
    background-image: url("../images/sweeps-landing/header-bg-desktop.png"), linear-gradient(to bottom, #edf4ff 60%, #c0d5fa 100%);
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
}

.sub1 {
    position: relative;
    width: 79.25rem;
}

.section1 .left {
    position: absolute;
    z-index: 1;
    top: 44%;
    left: 6%;
    transform: translateY(-50%);
    max-width: 32rem;
}

/* Font styles for sections 1 and 3 */
.section1 .fstyle,
.section3 .fstyle {
    overflow-wrap: break-word;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    color: #431aa2;
    font-stretch: normal;
    font-style: normal;
}

.section1 .line1 {
    margin: 0 0 0 0.0625rem;
    font-size: 1.5625rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.0288rem;
}

.section1 .line2 {
    margin: 0 4rem 0.3125rem 0;
    font-size: 3.125rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.0238rem;
}

.section1 .line3 {
    margin: 0.3125rem 4rem 0 0.063rem;
    font-size: 2.313rem;
    font-weight: 800;
    line-height: 2rem;
    letter-spacing: 0.0581rem;
}

.section1 .line4 {
    width: 26.375rem;
    margin: 1.25rem 7.3125rem 1.875rem 0;
    font-size: 1.3125rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.0344rem;
}

.section1 .line5 {
    width: 20.9375rem;
    margin: 1.25rem 4rem 1.875rem 0.063rem;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    letter-spacing: normal;
}

.section1 .img1 {
    position: absolute;
    z-index: 0;
    display: inline-block;
    right: -6%;
    width: 42rem;
    height: 42rem;
    background-image: url("../images/sweeps-landing/hero-header-image-desktop-egr.png");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.section1 .cta {
    color: white;
    background-color: #ff7b1b;
    margin: 0 14.5rem 0 0;
    padding: 0.5rem 2.75rem 0.5rem 2.813rem;
}

/* Section 2 Exclusive Offer */
.section2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-width: 64rem;
    height: 30.75rem;
    background-image: url("../images/sweeps-landing/exclusive-offers-desktop-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: clip;
}

.section2 .right {
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
    width: 27rem;
    padding: 0;
    margin: 0;
}

/* Font styles for sections 2 and 4 */
.section2 .fstyle,
.section4 .fstyle {
    overflow-wrap: break-word;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    color: white;
    font-stretch: normal;
    font-style: normal;
}

.section2 .line1 {
    margin: 0 0 1.875rem;
    font-size: 2.875rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.022rem;
}

.section2 .line2 {
    margin: 1.875rem 0 1.875rem;
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 1.41;
    letter-spacing: 0.028rem;
}

.section2 .img1 {
    position: absolute;
    display: inline-block;
    margin-top: 1.25rem;
    width: 30.813rem;
    height: 28.938rem;
    background-image: url("../images/sweeps-landing/hootie-image-desktop.png");
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.section2 .img2 {
    position: absolute;
    display: inline-block;
    top: -10.5%;
    left: 14.5rem;
    width: 12.231rem;
    height: 11rem;
    background-image: url("../images/sweeps-landing/sale-badge-image.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.section2 .cta {
    color: white;
    background-color: #ac1eff;
    margin: 1.875rem 0 0 0;
    padding: 0.5rem 2.75rem 0.5rem 2.813rem;
}

/* Section 3 Big Win */

.section3 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 64rem;
    width: 100%;
    height: 45.9375rem;
    background-image: url("../images/sweeps-landing/big-win-section-bg.png");
    background-color: #fbfcff;
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
}

.section3 .center {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.section3 .line1 {
    margin: 3.75rem 0 0.938rem 0;
    font-size: 2.313rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.058rem;
}

.section3 .line2 {
    margin: 0.938rem 0 2.5rem 0;
    font-size: 1.563rem;
    font-weight: 800;
    line-height: 1.28;
    letter-spacing: 0.029rem;
}

.section3 .img1 {
    position: absolute;
    display: inline-block;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    width: 61.844rem;
    height: 30.625rem;
    background-image: url("../images/sweeps-landing/big-win-image-desktop.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Section 4  Multi Sub-sections */
.section4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 64rem;
    height: 97.25rem;
    background-image: linear-gradient(to bottom, #25056b, #531aa2);
}

/* Section 4 Sub-section 1 Two Ways To Play */
.section4 .sub1 {
    position: relative;
    padding-top: 4.375rem;
    width: 100%;
    max-width: 64rem;
    height: 22.438rem;
}

.section4 .sub1 .img1 {
    position: absolute;
    left: 6%;
    display: inline-block;
    width: 26.75rem;
    height: 22.438rem;
    background-image: url("../images/sweeps-landing/two-ways-to-play-image-desktop.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section4 .sub1 .right {
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
    width: 27rem;
    max-width: 32rem;
    padding: 0;
    margin: 0;
}

.section4 .sub1 .line1 {
    font-size: 2.875rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.022rem;
}

.section4 .sub1 .line2 {
    display: block;
    padding-top: 1.875rem;
    width: 26rem;
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 1.41;
    letter-spacing: 0.028rem;
}

/* Section 4 Sub-section 2 Redeem Your Winnings */
.section4 .sub2 {
    position: relative;
    width: 100%;
    max-width: 64rem;
    height: 22.438rem;
}

.section4 .sub2 .img1 {
    position: absolute;
    right: 6%;
    display: inline-block;
    width: 26.75rem;
    height: 22.438rem;
    background-image: url("../images/sweeps-landing/redeem-your-winnings-image-desktop.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section4 .sub2 .left {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    width: 26rem;
    max-width: 32rem;
    padding: 0;
    margin: 0;
}

.section4 .sub2 .line1 {
    font-size: 2.875rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.022rem;
}

.section4 .sub2 .line2 {
    padding-top: 1.875rem;
    width: 25rem;
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 1.41;
    letter-spacing: 0.028rem;
}

/* Section 4 Sub-section 3 Supercharge */
.section4 .sub3 {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 79.25rem;
    height: 41.063rem;
}

.section4 .sub3 .center {
    position: absolute;
    display: block;
    top: 6.25rem;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.section4 .sub3 .line1 {
    font-size: 2.875rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.022rem;
}

.section4 .sub3 .line2 {
    padding-top: 1.875rem;
    width: 49rem;
    margin: 0 auto;
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 1.41;
    letter-spacing: 0.028rem;
}

.section4 .sub3 .img1 {
    position: absolute;
    display: inline-block;
    top: 17.063rem;
    width: 100%;
    height: 24rem;
    background-image: url("../images/sweeps-landing/supercharge-image-desktop.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Section 5 H5C Overview */
.section5,
.section7 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 64rem;
    width: 100%;
    height: auto;
    background-color: #fbfcff;
    overflow: hidden;
}

.section5 .sub1,
.section6 .sub1,
.section7 .sub1 {
    position: relative;
    padding-top: 3.75rem;
    padding-bottom: 6.875rem;
    width: 100%;
    max-width: 64rem;
}

.section5 .fstyle,
.section7 .fstyle {
    overflow-wrap: break-word;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    color: #431aa2;
    font-stretch: normal;
    font-style: normal;
}

.section5 .center,
.section6 .center,
.section7 .center {
    top: 0;
    max-width: 64rem;
    padding: 0 3.5rem 0 3.5rem;
    margin: 0;
    text-align: left;
}

.section5 .line1,
.section6 .line1,
.section7 .line1 {
    margin: 0 0 2rem 0;
    font-size: 1.5625rem;
    font-weight: 800;
    line-height: 1.28;
    letter-spacing: 0.0288rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.section5 .line2,
.section6 .line2,
.section7 .line2 {
    font-size: 0.9375rem;
    line-height: 1.33;
    letter-spacing: 0.0294rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.section5 .img1,
.section6 .img1,
.section7 .img1 {
    position: relative;
    z-index: 0;
    display: inline-block;
    margin: 0 3.5rem 1.875rem 3.5rem;
    width: 100%;
    max-width: 36.4375rem;
    height: 9.375rem;
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.section5 .img1 {
    background-image: url("../images/sweeps-landing/info-art-high-5-casino-3-x.png");
}

/* Section 6 Slot Games */
.section6 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 64rem;
    width: 100%;
    height: auto;
    background-color: #25056b;
    overflow: hidden;
}

.section6 .fstyle {
    overflow-wrap: break-word;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    color: #fbfcff;
    font-stretch: normal;
    font-style: normal;
}

.section6 ul {
    margin: 1.125rem 0;
}

.section6 li {
    margin-left: 2.25rem;
}

.section6 .img1 {
    background-image: url("../images/sweeps-landing/info-art-slot-games-desktop-3-x.png");
}

/* Section 7 Table Games */
.section7 .img1 {
    background-image: url("../images/sweeps-landing/info-art-table-games-3-x.png");
}

#react-iframe-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

/* Custom Sweeps Footer */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 64rem;
    height: 18.4375rem;
    margin: 0;
    background-color: #25056b;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 67%;
    margin-top: 1.25rem;
}

footer .links-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 79.2rem;
    height: 5.3125rem;
}

footer .nav-links {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

footer .h5c-logo {
    min-width: 12.5rem;
    width: 15.5625rem;
    height: 5.3125rem;
    background-image: url("../images/sweeps-landing/h5c-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-icons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 10rem;
}

.age-rating-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.9375rem;
    height: 1.9375rem;
    border-radius: 50%;
    border: solid 0.125rem rgb(255, 255, 255);
    background-color: #25056b;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
}

.rgf-icon {
    display: flex;
    justify-content: center;
    width: 2.1875rem;
    height: 2.1875rem;
    align-items: center;
    background-image: url("../images/sweeps-landing/rgf-logo.html");
    background-size: contain;
    background-repeat: no-repeat;
}

.age-rating a,
.rgf-icon a {
    margin-top: 0;
}

footer a {
    text-align: center;
    color: white;
    opacity: 0.7;
    width: 6.75rem;
    height: 2.0625rem;
    margin-top: 1.125rem;
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.0275rem;
    text-decoration: none;
}

footer .terms {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 79.2rem;
    height: 9.1875rem;
}

footer .terms p,
footer .terms a {
    text-align: left;
    opacity: 0.7;
    font-family: 'Noto Sans', 'Robot', sans-serif;
    font-size: 0.625rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}

footer .terms a {
    opacity: 1;
    color: white;
    text-decoration: underline;
}

/* Switch to mobile view when width is equal to or less than 1024px (64rem) */
@media (max-width: 64rem) {

    /* Top Navigation Bar */
    .top-nav {
        width: 100%;
        min-width: 23.4375rem;
    }

    .top-nav .h5c-logo {
        width: 7.25rem;
        height: 1.875rem;
        margin-left: 0.9375rem;
        margin-bottom: 0.8125rem;
        background-image: url("../images/sweeps-landing/h5c-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .nav-btns {
        margin-right: 1rem;
        width: 11rem;
    }

    .signup-btn,
    .login-btn {
        font-size: 0.75rem;
        width: 5rem;
        height: 1.875rem;
    }

    /* General properties for all mobile sub classes */
    .sub1,
    .sub2,
    .sub3 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 22rem;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    /* Section 1 Hero Header */
    .section1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-width: 23rem;
        height: 52rem;
        background-size: auto 100%;
        background-position: top left 25%;
    }

    .section1 .sub1 {
        flex-direction: column-reverse;
        z-index: 0;
    }

    .section1 .left {
        position: relative;
        text-align: center;
        z-index: 1;
        top: 0;
        left: 0;
        width: 21.5625rem;
        transform: none;
        max-width: none;
    }

    .section1 .line1 {
        margin: 0 0 0.5625rem;
        padding: 0;
        font-size: 1.3125rem;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.0344rem;
    }

    .section1 .line2 {
        margin: 0.5625rem auto 0.3125rem;
        width: 20rem;
        font-size: 2.5rem;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.0625rem;
    }

    .section1 .line3 {
        margin: 0;
        font-size: 1.5625rem;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: 0.0288rem;
    }

    .section1 .line4 {
        margin: 0.625rem 0 0 0;
        width: 20.9375rem;
        font-size: 1.0625rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.41;
        letter-spacing: 0.0281rem;
    }

    .section1 .img1 {
        position: relative;
        z-index: 0;
        display: inline-block;
        top: 0;
        right: 0;
        width: 23.4375rem;
        height: 20.8125rem;
        background-image: url("../images/sweeps-landing/hero-header-image-mobile-egr.png");
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        margin-bottom: 0.25rem;
    }

    .section1 .cta {
        margin: 1rem 0 0 0;
        width: 20.9375rem;
    }

    /* Section 2 Exclusive Offer */
    .section2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        min-width: 23rem;
        height: 39.625rem;
        background-image: url("../images/sweeps-landing/exclusive-offers-mobile-bg.jpg");
        background-size: auto 100%;
        background-color: #25056b;
        background-position: top;
    }

    .section2 .right {
        display: flex;
        flex-flow: column;
        position: relative;
        align-items: center;
        top: 0;
        right: 0;
        transform: none;
        width: 21.5rem;
        padding: 0;
        margin: 0;
    }

    .section2 .line1 {
        margin: 0;
        font-size: 2.3125rem;
        letter-spacing: 0.0019rem;
    }

    .section2 .line2 {
        font-size: 1.0625rem;
        margin: 1rem 0 0 0;
    }

    .section2 .img1 {
        position: relative;
        margin-top: 1.5rem;
        width: 18.6875rem;
        height: 17.5625rem;
        background-position: top;
    }

    .section2 .img2 {
        top: -9%;
        left: 13.375rem;
        width: 9.4375rem;
        height: 9.4375rem;
    }

    .section2 .cta {
        width: 20.9375rem;
        margin: 1.5rem 0 0 0;
        padding: 0.5rem 2.75rem 0.5rem 2.813rem;
    }

    /* Section 3 Big Win */

    .section3 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        min-width: 23rem;
        height: 42rem;
        background-position: top left 25%;
        background-size: auto 110%;
    }

    .section3 .sub1 {
        flex-direction: column-reverse;
    }

    .section3 .center {
        position: relative;
        width: 21.5rem;
    }

    .section3 .line1 {
        margin: 1.5rem 0 0 0;
        line-height: 1.19;
    }

    .section3 .line2 {
        font-size: 1.0625rem;
        width: 18rem;
        margin: 1rem auto 0 auto;
    }

    .section3 .img1 {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 36.4375rem;
        height: 23.4375rem;
    }

    /* Section 4  Multi Sub-sections */
    .section4 {
        min-width: 23rem;
        height: 110rem;
    }

    /* Section 4 Sub-section 1 Two Ways To Play */
    .section4 .sub1 {
        position: relative;
        height: 40rem;
    }

    .section4 .sub1 .img1 {
        position: relative;
        left: 0;
        width: 20.9375rem;
        height: 17.125rem;
    }

    .section4 .sub1 .right {
        position: relative;
        top: 0;
        right: 0;
        transform: none;
        width: 21.5rem;
    }

    .section4 .sub1 .line1 {
        font-size: 2.3125rem;
        line-height: 1.14;
        letter-spacing: 0.0581rem;
    }

    .section4 .sub1 .line2 {
        font-size: 1.0625rem;
        width: 20.9375rem;
    }

    /* Section 4 Sub-section 2 Redeem Your Winnings */
    .section4 .sub2 {
        position: relative;
        justify-content: column-reverse;
        height: 50rem;
    }

    .section4 .sub2 .img1 {
        position: relative;
        right: 0;
        top: 5rem;
        width: 20.9375rem;
        height: 17.125rem;
    }

    .section4 .sub2 .left {
        position: relative;
        top: 5rem;
        left: 0;
        transform: none;
        width: 21.5rem;
    }

    .section4 .sub2 .line1 {
        font-size: 2.3125rem;
        letter-spacing: 0.0581rem;
    }

    .section4 .sub2 .line2 {
        font-size: 1.0625rem;
        padding-top: 1.875rem;
        width: 20.9375rem;
    }

    /* Section 4 Sub-section 3 Supercharge */
    .section4 .sub3 .center {
        position: relative;
        top: 2rem;
        width: 20.9375rem;
    }

    .section4 .sub3 .line1 {
        width: 20.9375rem;
        margin: 0 auto;
        font-size: 2.3125rem;
        letter-spacing: 0.0581rem;
    }

    .section4 .sub3 .line2 {
        font-size: 1.0625rem;
        width: 20.9375rem;
    }

    .section4 .sub3 .img1 {
        position: relative;
        display: inline-block;
        top: 2rem;
        width: 100%;
        height: 9.75rem;
    }

    /* Section 5 H5C Overview */
    /* Section 6 Slot Games */
    /* Section 7 Table Games */
    .section5,
    .section6,
    .section7 {
        min-width: 23rem;
    }

    .section5 .sub1,
    .section6 .sub1,
    .section7 .sub1 {
        padding-top: 3.125rem;
        padding-bottom: 6.875rem;
        width: 100%;
        max-width: 64rem;
    }

    .section5 .center,
    .section6 .center,
    .section7 .center {
        width: 100%;
        max-width: 36.4375rem;
    }

    .section6 ul {
        margin: 1.125rem 0;
    }

    .section6 li {
        margin-left: 2.25rem;
    }

    /* Custom Sweeps Footer */
    footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 23rem;
        height: 50rem;
        margin: 0;
        background-color: #25056b;
    }

    .footer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 86%;
        margin-top: 1.25rem;
    }

    footer .links-container {
        flex-direction: column;
        justify-content: center;
        height: 14rem;
    }

    footer .nav-links {
        flex-flow: wrap;
        width: 18rem;
    }

    footer .h5c-logo {
        width: 100%;
        height: 4.3125rem;
        background-position: center;
        margin-bottom: 3rem;
    }

    .footer-icons {
        position: absolute;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        top: 110%;
        width: 27rem;
    }

    .age-rating-icon {
        width: 5.75rem;
        height: 5.75rem;
        border-radius: 50%;
        border: solid 0.3125rem rgb(255, 255, 255);
        font-size: 2.375rem;
        margin: 0;
        padding: 0;
    }

    .rgf-icon {
        width: 6.5625rem;
        height: 6.5625rem;
        margin: 0;
        padding: 0;
    }

    footer a {
        margin-top: 0.5rem;
    }

    footer .terms {
        top: 21%;
        width: 22rem;
        height: 25rem;
    }

    footer .terms p,
    footer .terms a {
        text-align: center;
        font-size: 0.75rem;
    }
}